.highlight{
    border: 1px dotted blue;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    background-color: #133C55;
}

p{
    font-size: 22px;
}

#hero{
    background-image: url("images/vila-nova-york-praca.png");
    background-size: cover;
    background-position: center;
    background-attachment: local;
    height: 343px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

#heroTitle{
    background: #133c55;
    color: whitesmoke;
    font-size: 45px;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: inherit;
    
}

#heroSubTitle{
    background: #59A5D8;
    color: whitesmoke;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: inherit;
    font-weight: 200;
}

.sectionTitle{
    font-size: 40px;
    margin:0px 0;
    background: #133C55;
    padding: 20px;
    font-family: inherit;
    color: whitesmoke;
}

#points{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.container{
    width: 300px;
    padding: 15px;
}

.container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.descTxt{
    color: #133C55;
    font-weight: 800;
}

#guia img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px; 
}

#guia{
    width: 400px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    color: whitesmoke;
    text-shadow: 0 0 1px black;
    background: #59A5D8;
    margin-bottom: 30px;
    padding: 15px;
    border-bottom: 8px solid #133c55;
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    #points{
        display: flex;
        flex-direction: column;
        align-items: center; 
}
}

@media only screen and (max-width: 600px){
    #guia{
        width: 80%; 
    }
    #guia img{
        width: 110px;
        height: 110px;
    }
}